:root {
    --attendance: #126ae2;
    --grade: #126ae2;
    --exam: #126ae2;
}

.class-title {
    font-weight: bold;
    font-size: 15px;
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.labels {
    display: flex;
}

.exam-label,
.attendance-label,
.grade-label {
    background-color: var(--exam);
    padding: 7px 15px;
    margin-bottom: 10px;
    border-radius: 500px;
    text-align: center;
    margin-right: 10px;
}

.attendance-label {
    background-color: var(--attendance);
}

.grade-label {
    background-color: var(--grade);
}

.p-label {
    font-size: 13px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.class-card {
    background-color: var(--bg-color-2);
    padding: 20px;
    margin: 10px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 15px;
}